@tailwind base;
@tailwind components;
@tailwind utilities;

/* Rubik variable font */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/rubik-var.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+02BB-02BC, U+02DA, U+02DC, U+2212,
    U+2215;
}

body {
  @apply font-main;
}
